---
import Layout from "../layouts/indexLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION, words, heroInnerLinks } from "../consts";
import { TypewriterEffectSmooth } from "../components/Typewriter/index";
import { Link, Button, Image } from "@nextui-org/react";
import BlogCard from "../components/blog/Card";
import { getCollection } from "astro:content";


const allBlogs = await getCollection("blog");
  
  // Sort by pubDate descending and take the latest 6 posts
  const latestBlogs = allBlogs
    .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
    .slice(0, 6);


---

<Layout description={SITE_DESCRIPTION} title={SITE_TITLE}>
  <div class="text-center md:text-start">
    <h2
      class="text-2xl font-bold leading-7 text-gray-900 dark:text-white sm:truncate sm:text-3xl sm:tracking-tigh"
    >
      Hello , I'm Jash
    </h2>
    <h2
      class="text-2xl  noSidebar:hidden font-bold leading-7 text-gray-900 dark:text-white sm:truncate sm:text-3xl sm:tracking-tigh"
    >
      A developer sharing blogs and insights in technology.
    </h2>
    <TypewriterEffectSmooth words={words} client:visible />
  </div>
  <div class="flex gap-2 mt-5 justify-center items-center md:justify-start">
    {
      heroInnerLinks.map((e) => {
        return (
          <Button
            href={e.href}
            as={Link}
            color="primary"
            showAnchorIcon
            variant="flat"
          >
            {e.text}
          </Button>
        );
      })
    }
  </div>

  <section class="mt-10">
    <h3 class="text-xl font-bold mb-4">Latest Blogs</h3>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      {latestBlogs.map((blog) => (
        <BlogCard
          key={blog.id}
          title={blog.data.title}
          description={blog.data.description}
          href={blog.data.href}
          githubHref={blog.data.githubHref}
        >
          <img src={blog.data.heroImage} alt={blog.data.title} class="w-full h-auto" />
        </BlogCard>
      ))}
    </div>
  </section>
  
</Layout>
