---
import Layout from "../layouts/indexLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION, words, heroInnerLinks } from "../consts";
import { TypewriterEffectSmooth } from "../components/Typewriter/index";
import { Link, Button, Image } from "@nextui-org/react";
import BlogCard from "../components/blog/Card";
---

<Layout description={SITE_DESCRIPTION} title={SITE_TITLE}>
  <div class="text-center md:text-start">
    <h2
      class="text-2xl font-bold leading-7 text-gray-900 dark:text-white sm:truncate sm:text-3xl sm:tracking-tigh"
    >
      Hello , I'm Jash
    </h2>
    <h2
      class="text-2xl  noSidebar:hidden font-bold leading-7 text-gray-900 dark:text-white sm:truncate sm:text-3xl sm:tracking-tigh"
    >
      A developer sharing blogs and insights in technology.
    </h2>
    <TypewriterEffectSmooth words={words} client:visible />
  </div>
  <div class="flex gap-2 mt-5 justify-center items-center md:justify-start">
    {
      heroInnerLinks.map((e) => {
        return (
          <Button
            href={e.href}
            as={Link}
            color="primary"
            showAnchorIcon
            variant="flat"
          >
            {e.text}
          </Button>
        );
      })
    }
  </div>
  <div>
    <BlogCard description="booba looba" title="booba looba" href="booba looba" githubHref="ooba looba" client:load >
      <Image
      client:load
      width={600}
      height={200}
      src="https://app.requestly.io/delay/5000/https://nextui-docs-v2.vercel.app/images/hero-card-complete.jpeg"
      alt={"booba looba"}
      loading="eager"
      isZoomed
      className="object-cover aspect-video"
        />
    </BlogCard>

  <a href="/about">
    <img
      transition:name="hero" 
      src="/img.jpg"
      alt="Your Image Description"
      width={600}
      height={400}
      class="object-cover aspect-video"
    />
  </a>

  </div>
</Layout>
